html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
    font-family: "Exo 2", sans-serif;
    font-size: 14px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #34383e;
    background-image: url(../img/bg.png);
    background-position: center;
    background-size: cover;
}
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

button:focus,
input:focus {
    outline: transparent;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100vh;
}
.header {
    flex: 1 0 auto;
}
.content {
    z-index: 4;
    margin-left: 150px;
    flex: 0 0 auto;
}
.container {
    max-width: 1330px;
    padding: 0 70px;
    margin: 0 auto;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}
.header__info {
    display: flex;
    align-items: center;
    z-index: 5;
}
.header__logo {
    z-index: 5;
}
.header__watsapp {
    margin-right: 45px;
}
.header__tel a {
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-bottom: 5px;
}
.header__consultation {
    display: block;
    text-decoration: underline;
    color: rgb(234, 149, 115);
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.header__watsapp a {
    width: 200px;
    height: 60px;
    font-size: 16px;
    border-radius: 50px;
    border: 2px solid #fff;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.header__watsapp img {
    width: 29px;
    height: 29px;
}
.header__watsapp a > div > img:nth-child(1) {
    transition: 0.5s;
}
.header__watsapp a > div > img:nth-child(2) {
    transform: translate(-33px, 75px);
    transition: 0.5s;
}
.header__watsapp a:hover {
    background-color: rgb(234, 149, 115);
    color: black;
    border: 2px solid rgb(234, 149, 115);
}
.header__watsapp a:hover > div > img:nth-child(1) {
    transform: translateY(-45px);
}
.header__watsapp a:hover > div > img:nth-child(2) {
    transform: translate(-33px, 0px);
}
.content__circle {
    background-size: cover;
    background-position: 40px 150px;
    background-repeat: no-repeat;
    width: 70%;
    height: 750px;
    position: absolute;
    right: -25%;
    bottom: 0px;
}
.content__photo {
    height: 50px;
}
.content__london {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 720px;
    position: absolute;
    right: 25%;
    bottom: 0px;
}
.content__france {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 282px;
    height: 520px;
    position: absolute;
    right: -120px;
    bottom: 220px;
}
.content__usa {
    background-size: cover;
    background-position: 10px 0px;
    background-repeat: no-repeat;
    width: 256px;
    height: 720px;
    position: absolute;
    right: -40px;
    bottom: -10px;
}
.content__man {
    background-size: inherit;
    background-position: 5px 70px;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    position: absolute;
    right: -15%;
    bottom: 0;
}
.content__owner-name {
    position: relative;
    z-index: 5;
    width: 280px;
    height: 60px;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.content__owner {
    position: relative;
    left: 70%;
    bottom: 135px;
}
.content__owner-position {
    position: relative;
    top: -10px;
    right: -50px;
    z-index: 3;
    width: 280px;
    height: 60px;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(50, 91, 253);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content__cost__inner {
    display: flex;
}
.cost__ref {
    box-shadow: 0 0.156vw 0 rgb(126, 61, 35);
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    max-width: 500px;
    width: 100%;
    height: 100px;
    transition: 0.5s;
    background-color: rgb(234, 149, 115);
    background-image: linear-gradient(to top, rgb(238, 105, 52) 0%, rgb(234, 149, 115) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: #000;
    font-size: 25px;
    position: relative;
    padding-left: 70px;
    margin-bottom: 25px;
}

.cost__ref::before {
    content: "";
    position: absolute;
    background-image: url(../img/tap.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    left: 35px;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}
.cost__ref:hover {
    box-shadow: 0 0.417vw 1.042vw 0.052vw rgba(235, 137, 97, 0.51);
}
.content__cost-cosial {
    cursor: pointer;
    font-size: 20px;
    color: #000;
    height: 100px;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    position: relative;
    border: 2px solid #fff;
    border-radius: 4px;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #e9e9e9;
}
.content__cost-wrapper {
    position: relative;
}
.soc_icon.active {
    padding: 15px 0;
    border: 2px solid #fff;
    height: auto;
    border-top: none;
    background-color: #e9e9e9;
}
.fa-chevron-down {
    position: absolute;
    width: 25px;
    height: 20px;
    right: 0;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    fill: #fff;
}
.content__title {
    font-size: 60px;
    color: #fff;
    margin-bottom: 65px;
}
.content__text {
    max-width: 600px;
    font-size: 32px;
    color: #fff;
    margin-bottom: 65px;
}
.content__main {
    max-width: 910px;
    width: 100%;
    margin-right: 150px;
}
.price__list a {
    color: rgb(164, 164, 164);
    font-size: 18px;
    text-decoration: underline;
    margin-bottom: 70px;
}
.content__items {
    max-width: 640px;
    display: flex;
    justify-content: start;
    margin-left: -50px;
}

.content__item {
    flex-basis: calc(33.333% - 50px);
    margin-left: 50px;
    font-size: 18px;
    color: #fff;
    position: relative;
    padding-top: 50px;
}
.content__item::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 5px solid #325bfd;
    left: 0;
    top: 0;
}
.soc_icon {
    transition: all 0.5s;
    padding: 0;
    text-align: center;
    position: absolute;
    left: 0;
    top: 100px;
    height: 0;
    width: 115px;
    border: 2px solid transparent;
    overflow: hidden;
    z-index: 5;
    fill: #000;
}
.soc_icon a {
    display: block;
}
.soc_icon svg {
    width: 45px;
    height: 30px;
    transition: all 0.5s;
}
.soc_icon svg:hover path {
    fill: #ed7140;
}

.soc_icon svg path {
    fill: #000;
}
.soc_icon a + a {
    margin-top: 35px;
}
.content__icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.content__icon a {
    display: block;
}
.content__icon a + a {
    margin-top: 65px;
}
.content__icon svg {
    width: 45px;
    height: 30px;
    transition: all 0.5s;
}
.content__icon svg path {
    fill: #999da7;
}
.content__icon svg:hover path {
    fill: #fff;
}

.content__facts-item span {
    color: #3460fc;
    font-size: 60px;
    display: block;
    margin-bottom: 15px;
}
.content__facts-item {
    text-align: center;
    width: 140px;
    color: #fff;
    font-size: 15px;
}
.content__facts-client {
    right: 34%;
    position: absolute;
    top: 37%;
}
.content__facts-facts {
    position: absolute;
    right: 2%;
    top: 15%;
}
/* Модальное окно */
.modal_window {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0%);
    transition: 0.3s;
}
.modal_close {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.71);
}
.modal_content {
    width: 33.854vw;
    position: relative;
    height: 39.063vw;
    border-radius: 0.365vw;
    background-color: rgb(53, 56, 61);
    z-index: 1;
    background-image: url(../img/bg.png);
    background-position: center;
    background-size: cover;
}
.modal_content > span {
    color: white;
    font-size: 1.406vw;
    padding: 0.833vw;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.modal_title h4 div {
    width: 1.302vw;
    height: 1.302vw;
    margin-right: 1.563vw;
}
.modal_title h4 {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 1.042vw;
    font-weight: 400;
    margin-left: -2.083vw;
}
.modal_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto !important;
}
.modal_title h3 {
    color: rgb(255, 255, 255);
    font-size: 2.083vw;
    font-weight: 600;
    margin-top: 3.385vw;
    margin-bottom: 0.521vw;
}
.modal_content form {
    margin-top: 1.563vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn_type3 div {
    width: 1.771vw;
    height: auto;
    margin-left: 2.083vw;
    margin-right: 1.042vw;
}
.btn_type3 {
    display: flex;
    width: 18.75vw;
    height: 4.427vw;
    border: 0;
    font-size: 1.042vw;
    font-weight: 400;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 0.156vw 0 rgb(126, 61, 35);
    border-radius: 0.365vw;
    background-color: rgb(223, 239, 79);
    background-image: linear-gradient(to top, rgb(238, 105, 52) 0%, rgb(234, 149, 115) 100%);
    transition: 0.3s;
}
.btn_type3:hover {
    display: flex;
    border: 0;
    align-items: center;
    border-radius: 0.365vw;
    background-color: rgb(223, 239, 79);
    background-image: linear-gradient(to top, rgb(238, 105, 52) 0%, rgb(234, 149, 115) 100%);
    transition: 0.3s;
    box-shadow: 0 0.417vw 1.042vw 0.052vw rgba(235, 137, 97, 0.51);
}
.modal_content form input {
    width: 16.667vw;
    margin-bottom: 1.823vw;
    padding: 10px;
    height: 3.906vw;
    border-radius: 0.365vw;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1.042vw;
    font-weight: 300;
    border: 0;
}
.desctiption_form div {
    width: 0.99vw;
    height: auto;
    margin-right: 0.521vw;
}
.desctiption_form span {
    display: block;
    font-size: 0.729vw;
    color: rgb(255, 255, 255);
}
.desctiption_form span a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.desctiption_form {
    display: flex;
    justify-content: center;
    margin-top: 1.823vw;
}
.close_modal {
    transform: translateX(-100%);
    opacity: 0;
}

.pxl_panel_wrap {
    display: none !important;
}

.pulse {
    z-index: -1;
    position: absolute;
    left: 21.823vw;
    top: 7%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

.pulse:before {
    content: "";
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    z-index: -1;
}

.pulse:after,
.pulse:before,
.pulse__first {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0;
    border-radius: 50%;
    border: 2px solid #1e58f5;
    width: 100px;
    height: 100px;
    -webkit-animation-name: bringPulsate;
    animation-name: bringPulsate;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    z-index: -1;
}

.pulse:after {
    content: "";
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    z-index: -1;
}

.pulse__first {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    z-index: -1;
}
@-webkit-keyframes bringPulsate {
    0% {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
    25% {
        opacity: 0.3;
    }
    75% {
        opacity: 0.15;
    }
    to {
        width: 1000px;
        height: 1000px;
        opacity: 0;
    }
}

@keyframes bringPulsate {
    0% {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
    25% {
        opacity: 0.3;
    }
    75% {
        opacity: 0.15;
    }
    to {
        width: 1000px;
        height: 1000px;
        opacity: 0;
    }
}

.pxl_panel_wrap {
    display: none !important;
}
